PROJECT="pmmi"

# Possible environments: dev, sst, prod
export SITE_ENVIRONMENT=prod

export DEFAULT_THEME="bootstrap"
export ADMIN_THEME="seven"
export DROPSHIP_SEEDS="$PROJECT"

echo "Running on the \"$SITE_ENVIRONMENT\" environment."

# If you don't provide a site environment... that's ok, we will just use the
# custom site module as a seed.
case "$SITE_ENVIRONMENT" in
  dev)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:dblog:field_ui:views_ui:devel:stage_file_proxy:config_update_ui:config_devel
  ;;
  test)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:dblog:config_readonly
  ;;
  prod)
    DROPSHIP_SEEDS=$DROPSHIP_SEEDS:syslog:config_readonly
  ;;
esac
