<div{{ content['#attrs'].addClass('landing-left-sidebar') }}>
  <div class="top-banner clearfix">
    {{ content.top }}
  </div>
  <div class="container">
    <div class="row">
      <div class="content-left col-sm-3">
        {{ content.sidebar }}
      </div>

      <div class="content-right col-sm-9">
        {{ content.main }}
      </div>
    </div>
  </div>
</div>
