<div class="audience-select">
  <h1>I am a(n):</h1>

  {% for key, item in audiences %}
    <p><a href="/?audience={{ key }}" id="audience-select-{{ key }}">{{ item }}</a></p>
  {% endfor %}

</div>{# /.audience-select #}
