{#
/**
 * @file
 * Teme implementation to display the audience switcher block.
 *
 * Available variables:
 *
 * Audience select variables:
 * - audiences: The user specified audiences.
 *
 * @ingroup themeable
 */
#}
<div class="block audience-select" id="block--audience-select">
  <a href="{{ audience_redirect_url }}" class="audience-link">
    {% if audience_image %}
      <img src="{{ audience_image }}" class="audience-image img-responsive" />
    {% endif %}
  </a>
  <a href="{{ audience_redirect_url }}" class="audience-link">{{ audience_title }}</a>
</div>
