<div class="block-enticement">

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.image, 'image']) }}

  {{ field_render([content.teaser, 'teaser']) }}

  {{ field_render([content.button, 'button']) }}

</div>
