<div{{ content['#attrs'].addClass('block-layout block-text') }}>

  {{ field_render([content.image, 'image']) }}

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.body, 'block-body']) }}

</div>
