<div class="block-person">

  {{ field_render([content.image, 'image']) }}

  {{ field_render([content.name, 'name']) }}

  {{ field_render([content.job_title, 'job-title']) }}

  {{ field_render([content.company, 'company']) }}

</div>
