<div class="block-person">

  {{ field_render([content.field_image, 'image']) }}

  {{ field_render([content.field_name, 'name']) }}

  {{ field_render([content.field_job_title, 'job-title']) }}

  {{ field_render([content.field_company, 'company']) }}

</div>
