<div class="block-layout block-text-image {{ content['#attrs'].class }}">

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.body, 'block-body']) }}

  {{ field_render([content.image, 'image']) }}

</div>
