<div class="sitewide">
  <div class="region-top">
    {{ content.top }}
  </div>
  <div class="container">
    <div class="row">
      {{ content.main }}
    </div>
  </div>
  <div class="region-bottom">
    {{ content.bottom }}
  </div>
</div>
